<!DOCTYPE html>
<html lang="en">
<head>
    <style></style>
    <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/FindMyKicks.css') }}">
    <title>FindMyKicks</title>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
    <!--header text-->
    <p class="red-text"> FindMyKicks</p>

    <!--main page gif. be sure to update to custom gif when complete-->
    <img src="https://images.complex.com/complex/images/c_crop,h_896,w_1593,x_3,y_4/c_fill,dpr_auto,f_auto,q_90,w_1400/fl_lossy,q_70/gd2xzkk90menaypzzzg9/affordable-nike-sb-dunk-gif" alt="Sneaker Alternate">
    
    <!--search bar & button-->
    <div id="search-bar">
        <input id="search-text" type="text" placeholder="Your grail awaits...">

        <form action="/" method="post">
            <button type="submit" class="search-button">FIND</button>
        </form>

    </div>

    <!--this will display common searches (top 10)-->
    <address>Trending Searches</address>
    {% if shoe_data %}
        <ul>
            {% for item in shoe_data %}
                <li>{{item.name}}</li>
                <li>{{item.place}}</li>
                <li>{{item.mob}}</li>
            {% endfor %}
        </ul>
    {% endif %}
</body>
</html>